

#slider > div.courant {
    display: block;

}

#navigation > li   {
    display: inline-block;
}

/*#slider > div.courant {
    transform: translateX(0);
}

#slider > div.avant-1 {
    transform: translateX(-300px);
}

#slider > div.avant-2 {
    transform: translateX(-600px);
}

#slider > div.avant-3 {
    transform: translateX(-900px);
}

#slider > div.avant-4 {
    transform: translateX(-1200px);
}

#slider > div.apres-1 {
    transform: translateX(300px);
}

#slider > div.apres-2 {
    transform: translateX(600px);
}

#slider > div.apres-3 {
    transform: translateX(900px);
}

#slider > div.apres-4 {
    transform: translateX(1200px);
}*/

#slider>div {
    position: absolute;
    flex-shrink: 0;
    padding: 10px;
    transition: 1s ease-out;
    background: gray;
}

#slider {
    display: flex;
    width: 300px;
    height: 200px;
    position: relative;
    margin: 0 auto;
    perspective: 600px;
    transform-style: preserve-3d;
    perspective-origin: 50% 50%;
}

#slider .avant-1 {
    transform: translateX(-260px) translateZ(-130px) rotateY(80deg);
}

#slider .apres-1 {
    transform: translateX(260px) translateZ(-130px) rotateY(-80deg);
}

#slider .avant-2 {
    transform: translateX(-330px) translateZ(-130px) rotateY(80deg);
}

#slider .apres-2 {
    transform: translateX(330px) translateZ(-130px) rotateY(-80deg);
}

#slider .avant-3 {
    transform: translateX(-400px) translateZ(-130px) rotateY(80deg);
}

#slider .apres-3 {
    transform: translateX(400px) translateZ(-130px) rotateY(-80deg);
}

#slider .avant-4 {
    transform: translateX(-470px) translateZ(-130px) rotateY(80deg);
}

#slider .apres-4 {
    transform: translateX(470px) translateZ(-130px) rotateY(-80deg);
}

#bouton {
    position: absolute;
    top: 55vh;
    left: 50vw;
}
