

#slider > div.courant {
    display: block;

}

#navigation > li   {
    display: inline-block;
}

#slider > div.courant {
    transform: translateX(0);
}

#slider > div.avant {
    transform: translateX(-300px);
}

#slider > div.apres {
    transform: translateX(300px);
}